<!DOCTYPE HTML>
<html ng-app="CountryJS">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="ejercicioStyle.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>The World's Population by Country</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="ejercicioJS.js"></script>

</head>

    <body ng-controller="CountryController">
        <form ng-submit="submitCountry()">
            <div class="container">
                <div class="row" id="thead">
                    <div class="col">Add/Edit country</div>
                </div>
                <div class="row">
                    <div class="col">Country</div>
                    <div class="col" id="textField"><input type="text" ng-model="country.name" pattern="[A-Za-z]{*}" title="Just letters allowed!"/></div>
                </div>
                <div class="row">
                    <div class="col">Population</div>
                    <div class="col" id="textField"><input type="text" ng-model="country.population" pattern="\d{*}" title="Just numbers allowed!"/></div>
                </div>
                <div class="row" id="submit">
                    <input type="submit" value="Submit" class="blue-button" />
                </div>
            </div>
        </form>
        <br />

        <div class="container">
            <div class="row" id="thead">
                <div class="col">CountryName</div>
                <div class="col">Population</div>
                <div class="col">Operations</div>
            </div>
            <div class="row" ng-repeat="country in countries">
                    <div class="col">{{ country.name }}</div>
                    <div class="col">{{ country.population }}</div>
                    <div class="col" id="buttons"><input type="button" ng-click="editCountry(country)" value="Edit" class="blue-button"/> | <input type="button" value="Delete" ng-click="deleteCountry(country)" class="red-button" /> </div>
            </div>
        </div>
    </body>

</html>