#thead {
    color: white;
    font-weight: bold;
}

.blue-button {
    background-color: lightskyblue;
    color: white;
    font-weight: bold;
    
}

#thead .col{
    background-color: #1d7ab8;
}

.col {
    padding: 5px;
    margin: 2px;
    border: 2px solid darkgray;
}

#submit {
    padding: 5px;
    border: 2px solid darkgray;
}

#textField {
    text-align: center;
}

#buttons {
    text-align: center;
    font-weight: bold;
}

#buttons .blue-button{
    color: white;
    border: 2px solid darkgray;
}

#buttons .red-button {
    background-color: red;
    color: white;
    border: 2px solid darkgray;
}
